@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&family=Yellowtail&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background: #343434 url('https://img.nickpic.host/s5jH32.jpg');
    background-blend-mode: overlay;
    font: 13px/180% 'Work Sans', 'Helvetica', 'Arial', sans-serif;
    color: #efefef;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: rgba(35, 35, 35, 0.9);
    padding: 20px; 
    border-bottom: 1px solid #121212; 
}

.uk-navbar-container a:link,
.uk-navbar-container a:active,
.uk-navbar-container a:visited {
    font: 50px/100% 'Yellowtail';
    color: #781a85;
    text-shadow: 2px 2px #06C5FB; 
}

.uk-container {
    padding: 50px;
    margin: 40px auto; 
    background: rgba(35, 35, 35, 0.8);
}

.uk-grid {
    justify-content: space-evenly;
    margin: 0; 
}

.uk-card {
    width: 30%;
    min-height: 150px;
    background-color: #781a85;
}